.atendimento-tabs-container {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tab-container {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
