header .avatar {
    width: 25px;
    height: 25px;
    background-color: #b1df50;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

header .avatar img {
    max-width: 100%;
    max-height: 100%;
}

@media(max-width: 350px) {
    header {
        padding: 0px 4%;
    }
}
