.form-group {
    position: relative;
}

.MuiFormControl-root {
  width: 100%;
}


.MuiFormLabel-root {
  color: #c4c4c4 !important;
}

.form-group .MuiFormControl-root .MuiFormLabel-root {
    position: absolute;
    top: 0;
    left: 0;
    color: #4a4a4a;
    font: italic 300 18px/20px 'Roboto';
    pointer-events: none;
}

.MuiFormControl-root .MuiInput-root input {
  color: #4a4a4a !important;
}
