.menu-button {
    display: block;
    width: 20px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  a.menu-button:hover .menu-icon,
  a.menu-button:hover .menu-icon::after {
    width: 20px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon {
    width: 20px;
    height: 2px;
    background-color: #8dce00;
    display: block;
    position: relative;
    float: right;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before,
  .menu-icon::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #8dce00;
    position: absolute;
    right: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::before {
    margin-top: -7px;
    width: 20px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-icon::after {
    margin-top: 7px;
    width: 20px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon {
    height: 0;
    width: 20px;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::after {
    width: 20px;
    transform: rotate(45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }
  .menu-opened .menu-icon::before {
    transform: rotate(-45deg);
    margin-top: 0;
    transition: 0.2s all cubic-bezier(0.4, -0.1, 0, 1.1);
  }