.react-datepicker-wrapper{
  display: none !important
}

.react-datepicker-popper{
  position: relative !important;
  transform: none !important;
  top: 8vh !important;
}

.react-datepicker{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker--time-only .react-datepicker__time-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.react-datepicker__current-month {
  color: #a1a1a1 !important;
  font-size: 21px !important;
  font-weight: 500 !important;
  line-height: 19px !important;
  text-transform: uppercase !important;
  margin-bottom: 23px;
}


.react-datepicker__navigation--next {
  border-left-color: #b1df50 !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #b1df50 !important;
}

.react-datepicker__navigation {
  top: 2em !important;
}

.react-datepicker__header{
  background-color: #ffffff !important;
  border-bottom: none !important;
  padding: 30px !important;
}

.react-datepicker__header--time{
  display: none;
}

.react-datepicker__time-container .react-datepicker__time {
  height: 100%;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box{
  width: 100% !important;
  height: 100%;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
  height: 100% !important;
}

.react-datepicker__month-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.react-datepicker__header{
  width: 100%;
}

.react-datepicker__month{
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%
}

.react-datepicker__week {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.react-datepicker__day-names{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.react-datepicker__day{
  color: #bababa !important;
  font-size: 21px !important;
  font-weight: 300 !important;
  line-height: 19px !important;
}

.react-datepicker__day:hover{
  border-radius: 0 !important;
  background-color: #ffffff !important;
  color: #b1df50 !important;
}

.react-datepicker__day--selected{
  border-radius: 0 !important;
  background-color: #ffffff !important;
  color: #b1df50 !important;
  font-family: Roboto !important;
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 19px !important;
}

.react-datepicker__time-container ::-webkit-scrollbar {
  display: none;
}

.react-datepicker__time-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px !important;
  color: #bababa !important;
  font-size: 21px !important;
  font-weight: 300 !important;
  line-height: 19px !important;
}

li.react-datepicker__time-list-item--selected{
  background-color: #ffffff !important;
  color: #b1df50 !important;
  font-size: 21px !important;
  font-weight: 700 !important;
  line-height: 19px !important;
}
