.area-cadastro-atendimento {
  margin-top: 58px;
  min-height: calc(100vh - 58px);
  background: #ffffff;
  padding: 10% 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-cadastro-atendimento h2 {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  align-self: self-start;
  margin-bottom: 29px;
}

.area-cadastro-atendimento .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.area-cadastro-atendimento .formulario .form-group {
  margin-bottom: 35px;
}

.area-cadastro-atendimento .formulario .form-group:last-child {
  margin-bottom: 0px;
}

.area-cadastro-atendimento .formulario .inputs {
  margin-bottom: 12%;
}

.area-cadastro-atendimento .formulario input {
  width: 100%;
  border-bottom: 2px solid #a1a1a1;
  padding-bottom: 16px;
  color: #c4c4c4;
  font: normal 300 18px/20px "Roboto";
  transition: all .3s;
}

.area-cadastro-atendimento .formulario input::placeholder {
  font-style: italic;
  color: #c4c4c4;
}

.area-cadastro-atendimento .formulario .MuiInputBase-root::before {
  display: none;
  content: none;
}

.area-cadastro-atendimento .formulario .MuiInputBase-root::after {
  border-bottom: 2px solid #b1df50;
  transition: all .3s;
}

.area-cadastro-atendimento .formulario .btn-proximo {
  width: 100%;
  height: 71px;
  box-shadow: 0 4px 11px 1px rgba(196, 196, 196, 0.42);
  background-color: #b1df50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.tipo-cliente-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 33px;
}

.img-produto {
  margin-bottom: 47px
}

.atendimento-desc-section{
  margin-top: 58px;
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 3px 4px #c4c4c4;
}

.desc-info-atendimento{
  width: 100%;
  display: flex;
  padding: 0px 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.desc-info-icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.desc-info-icon-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.desc-info-icon-text img {
  cursor: pointer;
}

.desc-info-atendimento div h2{
  color: #b1df50;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.desc-info-atendimento span{
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.atendimento-produto-section{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 16px;
}

.atendimento-produto-section img{
  width: 70px;
  height: 31px;
  margin-right: 10px;
}

.atendimento-produto-section span {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.atendimento-etapas-section .div-step {
  position: relative;
}

.atendimento-etapas-section .div-step:nth-child(4)::before {
  display: none;
}

.atendimento-etapas-section .div-step::before {
  content: "";
  width: 0;
  height: 89%;
  border: 1px solid #e6e6e6;
  position: absolute;
  left: -23px;
  top: 57px;
}

.atendimento-etapas-section .cEKnNo:last-child .div-step::before {
  display: none;
}

.atendimento-etapas-section .bziTEG:last-child .div-step::before {
  display: none;
}

.atendimento-client-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.atendimento-compartilha-section{
  margin-top: 0 !important;
}

.atendimento-client-section img {
  width: 81px;
  margin-bottom: 21px;
}

.atendimento-client-section h2{
  color: #b1df50;
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 13px;
}

.atendimento-client-section p {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.select-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.makeStyles-paper-2{
  display: flex;
  flex-direction: column;
}

.makeStyles-paper-2 a{
  align-self: flex-end;
  margin-bottom: 13px;
}

.inputs{
  width: 100%
}

.select-container{
  width: 100%;
  margin-bottom: 16px;
}

.select-container:last-child {
  margin-bottom: 0px;
}

.select-input-container {
  width: 100%
}

