

.tela-inicial {
    background: url("../img/bg-tela-inicial.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 58px;
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tela-inicial h1 {
    color: #ffffff;
    font: normal 500 30px/1.1 'Roboto';
    max-width: 283px;
    margin-bottom: 20px;
}

.tela-inicial h1 span {
    font-weight: 400;
    font-size: 30px;
    display: block;
}

.tela-inicial p {
    color: #ffffff;
    font: normal 400 14px/20px 'Roboto';
    max-width: 272px;
}

.tela-inicial .line {
    width: 37px;
    height: 0;
    border-top: 2px solid #ffffff;
    display: block;
    margin-top: 7%;
    margin-bottom: 14%;
}

.tela-inicial ul {
    margin-bottom: 9%;
}

.tela-inicial ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.tela-inicial ul li:last-child {
    margin-bottom: 0px;
}

.tela-inicial ul li .icon {
    width: 39px;
    height: 39px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

.tela-inicial ul li span {
    color: #ffffff;
    font: normal 400 14px/20px 'Roboto';
    max-width: 201px;
}

.tela-inicial .btn-comecar {
    width: 297px;
    height: 71px;
    box-shadow: 0 4px 11px 1px #82bc04;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #b1df50;
}

.area-cadastro {
    margin-top: 59px;
    min-height: calc(100vh - 58px);
    background: #ffffff;
    padding: 10% 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-cadastro p {
    text-align: center;
    color: #a1a1a1;
    font: normal 400 12px/20px 'Roboto';
    margin-bottom: 40px;
}

.area-cadastro .usuario {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10%;
}

.foto{
  position: relative;
}

.foto input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.area-cadastro .usuario .foto {
    width: 101px;
    height: 101px;
    background-color: #b1df50;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.area-cadastro .usuario span {
    display: block;
    text-align: center;
    color: #8dce00;
    font: normal 400 14px/20px 'Roboto';
}

.area-cadastro .formulario {
    width: 100%;
}

.area-cadastro .formulario .form-group {
    margin-bottom: 35px;
}

.area-cadastro .formulario .form-group:last-child {
    margin-bottom: 0px;
}

.area-cadastro .formulario .inputs {
    margin-bottom: 12%;
}

.area-cadastro .formulario input {
    width: 100%;
    border-bottom: 2px solid #a1a1a1;
    padding-bottom: 16px;
    color: #c4c4c4;
    font: normal 300 18px/20px "Roboto";
    transition: all .3s;
}

.area-cadastro .formulario .MuiInputBase-root::before {
  display: none;
  content: none;
}

.area-cadastro .formulario .MuiInputBase-root::after {
    border-bottom: 2px solid #b1df50;
    transition: all .3s;
}

.area-cadastro .formulario .btn-proximo {
    width: 100%;
    height: 71px;
    box-shadow: 0 4px 11px 1px rgba(196, 196, 196, 0.42);
    background-color: #b1df50;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.marcas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 11px;
  margin-bottom: 60px;
  grid-row-gap: 26px;

}

.form-title {
  margin-bottom: 35px;
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.btn-pular{
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a1a1a1;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.btn-add-cursos {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #a1a1a1;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 60px;
}

.btn-add-cursos img {
  margin-right: 21px;
}

.cursos-scroll {
  overflow-y: scroll;
  width: 100%;
}

.cursos-scroll::-webkit-scrollbar {
  display: none;
}

.cursos-container {
  margin-top: 35px;
  margin-bottom: 35px;
}

.cursos .cursos-container .form-group{
  margin-bottom: 0;
}

.cursos-title{
  align-self: flex-start;
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.component__insany .btn-sucesso {
  width: 100%;
  height: 71px;
  box-shadow: 0 4px 11px 1px rgba(196, 196, 196, 0.42);
  background-color: #b1df50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.area-sucesso {
  margin-top: 58px;
  height: 100%;
  padding: 24px;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}

.alerta-sucesso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 55px;
}

.alerta-sucesso .txt-sucesso{
  color: #a1a1a1;
  font-size: 25px;
  line-height: 24px;
  font-weight: 400;
}

.alerta-sucesso img {
  margin-bottom: 25px;
}

.card-cadastro {
  margin-bottom: 39px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

.s-info {
  display: flex;
  padding: 28px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.s-info .foto {
  width: 85px;
  height: 85px;
  border: 2px solid #b1df50;
  border-radius: 50%;
  overflow: hidden;
}

.s-info .foto img {
  width: 100%;
  height: 100%;
}

.cursos-info, .marcas-info {
  display: flex;
  flex-direction: column;
}

.perfil-info-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  margin-left: 16px;
}

.perfil-nome {
  color: #b1df50;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.perfil-email-container, .perfil-phone-container {
  display: flex
}

.data-text {
  margin-left: 8px;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.s-text-title {
  margin-left: 12px;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.s-title {
  display: flex;
  margin-bottom: 7px;
}

.marcas-title {
  margin-bottom: 15px;
}

.curso-info-title {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.curso-info-data {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.marca-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 13px;
  align-items: center;
}

@media(max-width: 350px) {
    .tela-inicial h1 {
        font-size: 25px;
        margin-bottom: 5%;
    }
    .tela-inicial h1 span {
        font-size: 25px;
    }
    .tela-inicial ul li {
        margin-bottom: 5%;
    }
    .tela-inicial .btn-comecar {
        height: 55px;
    }
}
