* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
