.area-home {
  margin-top: 58px;
  min-height: calc(100vh - 58px);
  background-color: #fcfcfc;
}

.atendimentos-container{
  padding: 34px 20px;
}

.atendimentos-title{
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #a1a1a1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 2px solid #e6e6e6;
}

.atendimentos-title svg{
  margin-right: 16px
}

.atendimentos-description {
  padding: 0 14px;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atendimentos-description span{
  font-size: 12px;
}

.area-atendimento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
}

.primeiro-atendimento-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primeiro-atendimento-icon-container {
  width: 70px;
  height: 70px;
  border: 2px solid #e6e6e6;
  border-radius: 70px;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primeiro-atendimento-icon-container svg path {
  stroke: #d8d8d8;
}

.primeiro-atendimento-titulo {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

.primeiro-atendimento-desc {
    width: 246px;
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 31px;
}
